.title {
    background-color: #4CAF50;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    padding: 1px;
}

.content {
    background-color: #078ad6;
    margin-top: 5px;
    align-items: center;
    text-align: center;
    margin-top: 4px;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    padding:1px;
    
}

.btn01 {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 0px;
    padding: 10px 22px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px ;
}
