.title {
    background-color: #6de971;
}

header {
    background-color: #1d421e;
}

head {
    background-color: #4CAF50;
}

.btn {
    background-color: #2a802d;
    color: white;
    padding: 16px 20px;
}